
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@500&display=swap');

:root {
    --dark: rgb(20, 20, 20);
    --yellow: rgb(253, 216, 53);
    --blue: rgb(98, 0, 234);

    --c1: #F5385D;
    --c2: #1B1A27;

    --left-color: var(--c1);
    --right-color: var(--c2);
}

.side {
    display: grid;
    height: 60vh;
    overflow: hidden;
    place-items: center;
    position: absolute;
    width: 100%;
}

.side .title {
    font-family: "Rubik", sans-serif;
    font-size: 6vw;
    margin: 0px 14vw;
    width: 80vw;
}

.side .fancy {
    font-family: "Lobster", cursive;
    font-size: 1.3em;
    line-height: 0.8em;
}
.spacing {
    margin-top: 15vw;
}
/*.tick {*/
/*    font-size: 5rem;*/
/*    position: ;*/
/*    margin-bottom: 4rem;*/
/*}*/
#left-side {
    background-color: var(--left-color);
    width: 60%;
    z-index: 2;
}

#left-side .title {
    color: black;
}

#left-side .fancy {
    color: azure;
}

#right-side {
    background-color: var(--right-color);
}

#right-side .title {
    /*color: var(--dark);*/
    color: azure;
}

#right-side .fancy {
    color: #F5385D;
}

@media only screen and (max-width: 1635px) {
    .spacing {
        margin-top: 20vw;
    }
}

@media only screen and (max-width: 1224px) {
    .spacing {
        margin-top: 25vw;
    }
}
